*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*blocco header*/
.testa{

  width: 100%;
  height: 100px;
  background: rgb(13, 44, 76); /*url("../img/oldman.png");*/


}

.testa::after{
  content: "";
  display: table;
  clear: both;
}

.testa .bloccotesta1{
  margin-left: 5%;
  float: left;
  width: 12%;
  height: 40px;

}

.bloccotesta1 .fluentifyico{
  width: 90%;
  height: 100%;
  background-color: rgb(13, 44, 76);

}
.testa .bloccotesta2{
  margin: 0 7%;
  float: left;
  height: 36px;
  width: 32%;
  background-color: rgb(13, 44, 76);
}

.testa .bloccotesta2:after{
  content: "";
  display: table;
  clear: both;
}

nav{
  width: 100%;
}
.navbar{
  color:white;
  list-style:none;
  width: 100%;
  padding: 20px 0;
}

.navbar > ul{
  widht:100%;
}
.bloccotesta2 > nav > .navbar > li {
float:left;
font-size: 12px;
text-align: center;
color: white;
width: 25%;

}

.navbar > li > a {
  text-decoration: none;
  color: #ffffff;
  }

  .navbar > li > a:hover{
      color: orange;
    }

.testa .bloccotesta3{
  float: left;
  height: 30px;
  width: 36%;
  background-color: rgb(13, 44, 76);
}

.testa .bloccotesta3:after{
  content: "";
  display: table;
  clear: both;
}

/*divido in 3 blocchi anche l'ultimo blocco di destra*/
.testa .bloccotesta3 .testa3{
  float:left;
  text-align: center;
  color: white;
  width: 30%;
}

.testa3 > a{
  display: inline-block;
}

a.input_1{
  padding: 16px;
  margin: 8px 0;
  background: rgb(13, 44, 76);
  height: 40px;
  color: grey;


}

a.input_2{
  background-color: rgb(13, 44, 76);

  padding: 16px;
  margin: 8px 0;
  border: 2px solid white;
  border-radius: 3px;
  color: white;

}


 a.input_3{
  background-color: lightgreen;
  padding: 16px;
  margin: 8px 1px;
  border: 2px solid white;
  border-radius: 3px;
  color: white;
}

.collo{
  width: 100%;
  height: 300px;
  background: rgb(13, 44, 76);
}

.collo:after{
  content: "";
  display: table;
  clear: both;
}

.collo .collodestra{
  float: left;
  width: 50%;
  height: 100%;

}

.collo .collodestra .motto{
  font-size: 20px;
  margin: 72px 98px
}

.collo .collodestra .motto > p{
  margin-bottom: 30px;
  color: white;
}

.collo .collosinistra{
  float: left;
  width: 50%;
  height: 100%;
  background: url("../img/oldman.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* blocco frase pubblicitaria*/

.fraseadv{
  widht:100%;
  height: 100px;
  background-color: #f9f9f9;
}

.frase{
  margin-left: 250px;
  padding: 16px 85px;
}
/*blocco pubblicità e percorso*/
.percorso{
  widht:100%;
  background: white;
  margin: 0 5%;

}

.percorso:after{
  content: "";
  display: table;
  clear: both;
}

.picturesez_1{
height: 160px;
width: 100%;
margin-bottom: 20px;
}

.path > h3{
  color: lightgreen;
}

.path > p{

}
.path.formazione{
  float: left;
  width: 30%;
}

.path.affiancamento{
  float: left;
  width: 30%;
  background: white;/*debug*/

}

.path.monitoraggio{
  float: left;
  width: 30%;

}

/*seconda sezione*/
.montagna{
  widht:100%;
  background: white;
  margin: 0 5%;

}

.montagna:after{
  content: "";
  display: table;
  clear: both;
}

.montagnasx{
  float: left;
  width: 50%;
  height: 400px;


}

.picturemount{
  height:350px;
  width: 300px;
  margin-bottom: 30px;
  margin-left: 80px;

}

.montagnadx{
  float: right;
  width: 50%;
  height: 200px;/*debug*/

}

.testomontagna{
  margin: 10px 0px;
  padding: 68px 29px;
}
.testomontagna > h3{
color: #4a4a4a;
font-size: 30px;
font-weight: 500;
line-height: 45px;

}

.testomontagna > h4{
  color: #999;

}

.testomontagna > a{
  color: #98c8f8;
}

/*blocco scelta del piano*/
.visualpiano{
  widht:100%;
  background: #f9f9f9;
  margin: 0 5%;

}

.visualpiano:after{
  content: "";
  display: table;
  clear: both;
}

.scelta{
  float: left;
  width: 40%

}
/*blocco selectionbar*/
.selectionbar{
  float: right;
  width: 60%;

}


a.input_select{
 background-color: lightgreen;
  border: 2px solid white;
 border-radius: 3px;
 color: white;
}

/* blocco lezioni one to one*/

.lezioni{
  widht:100%;
  background: rgb(13, 44, 76);

}

.lezioni:after{
  content: "";
  display: table;
  clear: both;
}

.lezionisx{
  float: left;
  width: 50%;
  height: 400px;
}



.lezionidx{
  float: right;
  width: 50%;
  height: 500px;
}

.lezionidx .sessionipc{
  height:400px;
  width: 600px;
  margin-bottom: 50px;
  margin-left: 60px;


}

/*blocco stretta di mano*/
.strettamano{
  widht:100%;
  background: white;
  border-bottom: 1px solid grey;

}

.strettamano:after{
  content: "";
  display: table;
  clear: both;
}

.strettamanosx{
  float: left;
  width: 50%;
  height: 400px;
}



.strettamanodx{
  float: right;
  width: 50%;
  height: 500px;
}

/*blocco pc table */
.pctablet{
  margin: 0 25%;

}

.device{
  width: 80%;
  height: 20%;
  background: white;

}

.deviceimg{
  height: 250px;
  width: 330px;
  margin-left: 10%;
}

.txtdevice{
  width: 80%;
  height: 50%;
  background: white;

}
/* blocco azienda  */

.azienda{
  background: rgb(13, 44, 76);
  widht:100%;
  margin: 0 5%;
}



.azienda:after{
  content: "";
  display: table;
  clear: both;
}

.aziendasx{
  float: left;
  width: 50%;
  height: 400px;
}

.aziendadx{
  float: right;
  width: 50%;
  height: 200px;/*debug*/
  background: url("../img/pc-couple.png");
  background-repeat: no-repeat;
  background-size: cover;

}

.txtazsx > h4{
  color: #999;

}

.txtazsx > a{
  color: #98c8f8;
}
/*
/*
.testomontagna{
  margin: 10px 0px;
  padding: 68px 29px;
}
.testomontagna > h3{
color: #4a4a4a;
font-size: 30px;
font-weight: 500;
line-height: 45px;

}


*/
/* blocco footer  */

.footsup{
  background: rgb(13, 44, 76);/* debug */
  width:100%;
}

.dubbi{
    margin: 1px 17px;
    padding: 17px;

}
.dubbi h2{
  color: white;

}

.dubbi h3{
  color: white;

}
.footinf{
  background:rgb(13, 44, 76);/* debug */
  height: 300px;
  width:100%;
}

.footinf:after{
  content: "";
  display: table;
  clear: both;
}


.footinf .footersx{
  float: left;
  width: 50%;
  height: 100%;

}

.footersx > h2{
  color: white;
  padding: 20px 50px;
}

.footersx > nav > .navbar > li{
  padding: 8px 50px;
}

.footinf .footerdx{
  background: rgb(13, 44, 76);
  float: left;
  width: 50%;
  height: 100%;

}

.footinf .footerdx .copyright{
  margin-top: 80px;
}

.footinf .footerdx .copyright > h3{
  padding: 14px 33px;
  display: block;
  margin-left: 130px;
  color: white;

}


.footinf .footerdx .indirizzi > h4{
  padding: 3px 33px;
  display: block;
  margin-left: 130px;
  color: grey;

}
